.vscode/launch.json
__pycache__/gui.cpython-310.pyc
samples/
adaptive.csv
dwt.csv
emd.csv
model AR.pdf
Wavelet-Based.pdf
filtr weiner.pdf
.venv
*.pyc
adaptive.csv
dwt.csv
emd.csv
samples/emg_healthy.hea
samples/S4.dat
samples/S4.hea
samples/S5.dat
samples/S5.hea
samples/S6.dat
samples/S6.hea
samples/S7.dat
samples/S7.hea
